<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <link rel="icon" href="/static/assets/icon/netbalance-48x48.ico" />
    <title>Homepage</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/homepage.css" rel="stylesheet">
  </head>

  <body>
    <div class="container py-3">
      <header>
        <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
          <a href="{% url 'homepage' %}" class="d-flex align-items-center text-dark text-decoration-none">
            <img src="/static/assets/images/netbalance-full2.png" alt="" width="40" height="40">
            <img src="/static/assets/images/netbalance-name.png" id="name" alt="" width="150">
          </a>

          <nav class="mt-2 mt-md-0 ms-md-auto">
            <a class="me-3 py-2 text-dark text-decoration-none" href="http://127.0.0.1:8000/admin/auth/user/">{{ user.username }}</a>
            <a class="me-3 py-2 text-blue text-decoration-none" href="{% url 'logout' %}">Logout</a>
          </nav>
        </div>

        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
          <h1 class="display-4 fw-normal">Welcome</h1>
          <p class="fs-5 text-muted">Your simple web app solution, with our sophisticated tool</p>
        </div>
      </header>


      <main>
        <div class="row row-cols-1 row-cols-md-2 mb-2 text-center">
          <div class="col" id="box-1">
            <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-body">
                <img src="/static/assets/images/home-img-1.png" class="img" alt="" width="100%" height="100%"> 
                <a href="{% url 'dashboardv2' %}">
                <div class="overlay">
                  <div class="top-text">
                    <p>Node Configuration</p>
                  </div>
                </div>
                </a>
              </div>
            </div>
          </div>
          <div class="col" id="box-1">
            <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-body">
                <img src="/static/assets/images/home-img-2.jpg" class="img" alt="" width="100%" height="100%"> 
                <a href="http://10.43.3.50:3000" target="_blank" rel="noopener noreferrer">
                <div class="overlay">
                  <div class="top-text">
                    <p>Dashboard</p>
                  </div>
                </div>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="row row-cols-1 row-cols-md-2 mb-2 text-center">
          <div class="col" id="box-1">
            <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-body">
                <img src="/static/assets/images/home-img-4.png" class="img" alt="" width="100%" height="100%"> 
                <a href="{% url 'mission' %}">
                <div class="overlay">
                  <div class="top-text">
                    <p>Our Mission</p>
                  </div>
                </div>
                </a>
              </div>
            </div>
          </div>
          <div class="col" id="box-1">
            <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-body">
                <img src="/static/assets/images/home-img-3.png" class="img" alt="" width="100%" height="100%"> 
                <a href="{% url 'register' %}">
                <div class="overlay">
                  <div class="top-text">
                    <p>Create User</p>
                  </div>
                </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </main> 
        <footer class="pt-4 my-md-5 pt-md-5 border-top">
          <div class="row">
            <div class="col-12 col-md">
              <img class="mb-2" src="/static/assets/images/netbalance-full3.png" alt="" width="24" height="19">
              <small class="d-block mb-3 text-muted">&copy; 2017–2022</small>
            </div>
            <div class="col-6 col-md">
              <h5>Features</h5>
              <ul class="list-unstyled text-small">
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Cool stuff</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Random feature</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Team feature</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Stuff for developers</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Another one</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Last time</a></li>
              </ul>
            </div>
            <div class="col-6 col-md">
              <h5>Resources</h5>
              <ul class="list-unstyled text-small">
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Resource</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Resource name</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Another resource</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Final resource</a></li>
              </ul>
            </div>
            <div class="col-6 col-md">
              <h5>About</h5>
              <ul class="list-unstyled text-small">
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Team</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Locations</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Privacy</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Terms</a></li>
              </ul>
            </div>
          </div>
        </footer>
    </div>
  </body>
  <script src="/static/assets/javascript/homepage.js"></script>
</html>

