<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <link rel="icon" href="/static/assets/icon/netbalance-48x48.ico" />
    <title>Homepage</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/homepage.css" rel="stylesheet">
  </head>

  <body>
    <div class="container py-3">
        <header>
            <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
                <a href="{% url 'homepage' %}" class="d-flex align-items-center text-dark text-decoration-none">
                <img src="/static/assets/images/netbalance-full2.png" alt="" width="40" height="40">
                <img src="/static/assets/images/netbalance-name.png" id="name" alt="" width="150">
                </a>

                <nav class="mt-2 mt-md-0 ms-md-auto">
                    <a class="me-3 py-2 text-dark text-decoration-none" href="http://127.0.0.1:8000/admin/auth/user/">{{ user.username }}</a>
                    <a class="me-3 py-2 text-blue text-decoration-none" href="{% url 'logout' %}">Logout</a>
                </nav>
            </div>
        </header>
        
        <main>
            <h2>Inspiration</h2>
            <p>Being forced against our will. </p>
            <h2>What it does</h2>
            <p>No one really knows (ask Wei)</p>            
            <h2>How we built it</h2> 
            <p>Paid someone to do it for us.</p>
            <h2>Challenges we ran into</h2>
            <p>answering presentation questions</p>
            <h2>Accomplishments that we're proud of</h2>
            <p>Literally nothing.</p>
            <h2>What we learned</h2>
            <p>Badminton can heal a leg injury.</p>
            <h2>What's next for Netbalance</h2>
            <p>Selling to microsoft for a netloss of 200$.</p>
        </main>
    </div>
  </body>
</html>

