{% extends 'base.html' %}
{% block content %}


<h1>Status</h1>

{% if RST_FLAG %}
	<p>Server is restarting in a few seconds...</p>
{% else %}
	<p>Server has been {{uptime.uptime}} since {{uptime.since}}</p>
{% endif %}





<h1>System Settings</h1>
<p style="white-space: pre-wrap; font-family: courier;">{{server_disk}}</p><br><br>


<form action="settings" method="POST">
	<button type="submit" value="1" name="button" onclick="return confirm('Are you sure you want to restart?');">Restart Device</button>
</form>


{% endblock %}
