{% extends 'base.html' %}

{% block head %}
    <title>Home</title>
{% endblock %}

{% block body %}
    <h1>Data Entry</h1>

    <table>
        <tr>
          <td>name</td>
          <td>
            <input type="text" id="name" name="name" value="">
          </td>
        </tr>
        <tr>
          <td>ip address</td>
          <td>
            <input type="text" id="ip" name="ip" value="">
          </td>
        </tr>
        <tr>
          <td>hostname</td>
          <td>
            <input type="text" id="hostname" name="hostname" value="">
          </td>
        </tr>
        <tr>
          <td>number of nodes</td>
          <td>
            <input type="text" id="nodes" name="nodes" value="">
          </td>
        </tr>
      </table>
      <form action="/submit" method="POST">
        <input type="text" name="content" id="content">
        <input type="submit" value="Submit">
      </form>

{% endblock %}
